<%= form_with model: @user do |form| %>
  <div class="col-md-6">
    <%= form.text_field :name, class:"form-control", placeholder:"Full Name" %>
  </div>
  <br>
  <div class="col-md-6">
    <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1">
      <%= form.password_field :cvv_number, placeholder:"Cvv", class: "form-control" %>
      <%= @user.errors.full_messages_for(:cvv_number).first %>
    </div>
    <div class="col-md-5">
      <%= form.text_field :credit_card_number, placeholder:"Credit Card Number", class: "form-control" %>
      <%= @user.errors.full_messages_for(:credit_card_number).first %>
    </div>
  </div>
  <br>
  <div class="col-md-6">
    <%= form.password_field :password, placeholder:"Password", class:"form-control" %>
    <%= @user.errors.full_messages_for(:password).first %>
  </div>
  <br>
  <%= form.submit class:"btn btn-primary" %><br>
  <%= link_to "Already Have Account?", login_users_path %>
<% end %>
